{{define "graph"}}
<div id="graph-container">
  <div class="graph-controls">
    <label class="graph-field">
      <span>X-Axis</span>
      <select id="xaxis-select">
        <option value="time">Time</option>
        <option value="distance">Distance</option>
      </select>
    </label>
    <label class="graph-field">
      <span>Metric 1</span>
      <select id="metric1-select">
        <option value="">None</option>
        <option value="speed">Speed</option>
        <option value="heartrate" selected>HR</option>
        <option value="height">Height</option>
        <option value="cadence">Cadence</option>
      </select>
    </label>
    <label class="graph-field">
      <span>Metric 2</span>
      <select id="metric2-select">
        <option value="">None</option>
        <option value="speed">Speed</option>
        <option value="heartrate">HR</option>
        <option value="height">Height</option>
        <option value="cadence">Cadence</option>
      </select>
    </label>
  </div>
  <div id="graph-placeholder">
    {{if hasActivity .}}Select a metric above to display the graph{{else}}Select an activity and a metric above to display the graph{{end}}
  </div>
  <canvas id="graph-canvas"></canvas>
</div>
{{end}}
