{{define "segment.html"}}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{{.Segment.Name}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://unpkg.com/maplibre-gl@5.24.0/dist/maplibre-gl.js" integrity="sha384-5+cfbwT0iiub6VsQAdn6yz16nr6sDiQoHx6tm4O8OVYXHYOxcffFmCJBL0dgdvGp" crossorigin="anonymous"></script>
  <link href="https://unpkg.com/maplibre-gl@5.24.0/dist/maplibre-gl.css" rel="stylesheet" integrity="sha384-uTttxo/aOKbdE5RlD/SPzSDoDmNvGlUYPjONi2MN/b7c9HPSvW07OIuyP7uL6jxK" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js" integrity="sha384-e6nUZLBkQ86NJ6TVVKAeSaK8jWa3NhkYWZFomE39AvDbQWeie9PlQqM3pmYW5d1g" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@3.0.0/dist/chartjs-adapter-date-fns.bundle.min.js" integrity="sha384-cVMg8E3QFwTvGCDuK+ET4PD341jF3W8nO1auiXfuZNQkzbUUiBGLsIQUE+b1mxws" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{asset "/static/app.css"}}" />
  <script>window.__MAP_STYLE_URL__='{{asset "/static/map-style.json"}}';</script>
  <script>window.__SEGMENT_ID__={{.Segment.ID}};</script>
  <script defer src="{{asset "/static/app.js"}}"></script>
</head>
<body class="app">
  {{template "topbar" .}}
  <main class="detail-layout mobile-order-{{.MobileActivityOrder}}">
    <section class="detail-main">
      {{template "map" .}}
      {{template "graph" .}}
    </section>
    {{template "segment_sidebar" .}}
  </main>
</body>
</html>
{{end}}
